<h1>Soup Categories</h1>

<ul>
  <% @categories.each do |category| %>
   <li>
     <%= link_to category.name, category %> (<%= category.soups.count %>)
   </li>
  <% end %>
</ul>

<p> Or to see the complete list of soups <%= link_to "CLICK HERE", soups_path %></p>
